# Virtual Env
.my_env/

# Environment Variables
.env_main
.env

# Credentials Folder
credentials/*
!credentials/.gitkeep
!credentials/secret_sample.json


# Data files
# exclude everything
data/*
aq_upload/*
# exception to the rule
!data/.gitkeep 
!data/sample.xlsx
!aq_upload/.gitkeep
__pycache__/